/.git/
/.vagrant/
/docs/
/node_modules/
/resources/
/scripts/
/vendor/
.editorconfig
.eslintrc
.gitignore
.nvmrc
bitbucket-pipelines.yml
composer.json
composer.lock
Homestead.yaml
package.json
README.md
Vagrantfile
webpack.mix.js
yarn.lock