.tooltip {
  display: block !important;
  padding: 4px;
  z-index: 5;
  max-width: rem(325);

  .tooltip-inner {
    @include background-image( "misc/hoverbg.png", auto );
    padding: 20px;
    color: #40516a;
    p {
      font-weight: $font-weight-medium;
    }
  }

  .tooltip-arrow{
    position: absolute;
    margin: 5px;
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }

  &[x-placement^="top"] {
    top: -20px !important;
  }

  &[x-placement^="bottom"] {
    top: 20px !important;
  }

  a {
    transform: rotate(-1deg) !important;
  }

}

.tooltip[x-placement^="top"] .tooltip-arrow {
  height: 32px;
  width: 36px;
  transform: rotate(45deg);
  @include background-image( "misc/hoverbg.png", auto );
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
  border: none;
  z-index: -1;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow {
  height: 32px;
  width: 36px;
  transform: rotate(45deg);
  @include background-image( "misc/hoverbg.png", auto );
  top: -14px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
  border: none;
  z-index: -1;
}

.slot-selector__medium {
  max-width: rem(335);
  width: rem(335)!important;
  .tooltip-inner {
    @include background-image( "misc/longhoverbg.png", 335 );
  }
}
