$color-black: #000;
$color-white: #fff;
$color-san-marino: #4672a5;
$color-chathams-blue: #143e75;
$color-blue-zodiac: #102b51;
$color-kilamanjaro: #250e01;
$color-indian-tan: #551c00;
$color-cocoa-bean: #4e271f;
$color-roof-terracotta: #b5261e;
$color-red-stage: #d56001;
$color-candlelight: #fbcb12;
$color-alizarin-crimson: #E51C21;
$color-tuatara: #30302d;
$color-mint-julep: #f1e5c4;
$color-ronchi: #e7b851;
$color-saffron-mango: #f8c463;

$color-nav-blueprint-background: $color-san-marino;
$color-blueprint-background: $color-chathams-blue;
$color-elf-times-background: $color-mint-julep;
$color-button-gold: $color-saffron-mango;
