$imageData: (
"/images/backgrounds/blueprints/camera-button.png" : (
width: 49,
height: 22
),
"/images/backgrounds/blueprints/camera-button@2x.png" : (
width: 98,
height: 44
),
"/images/backgrounds/blueprints/camera.png" : (
width: 905,
height: 569
),
"/images/backgrounds/blueprints/camera@2x.png" : (
width: 1810,
height: 1138
),
"/images/backgrounds/blueprints/cart-assist-label-1.png" : (
width: 86,
height: 92
),
"/images/backgrounds/blueprints/cart-assist-label-1@2x.png" : (
width: 172,
height: 184
),
"/images/backgrounds/blueprints/cart-assist-label-2.png" : (
width: 90,
height: 80
),
"/images/backgrounds/blueprints/cart-assist-label-2@2x.png" : (
width: 180,
height: 160
),
"/images/backgrounds/blueprints/cart-assist-label-3.png" : (
width: 90,
height: 88
),
"/images/backgrounds/blueprints/cart-assist-label-3@2x.png" : (
width: 180,
height: 176
),
"/images/backgrounds/blueprints/cart-assist-label-4.png" : (
width: 113,
height: 65
),
"/images/backgrounds/blueprints/cart-assist-label-4@2x.png" : (
width: 226,
height: 130
),
"/images/backgrounds/blueprints/cart-assist-label-5.png" : (
width: 67,
height: 83
),
"/images/backgrounds/blueprints/cart-assist-label-5@2x.png" : (
width: 133,
height: 166
),
"/images/backgrounds/blueprints/cart-assist-label-6.png" : (
width: 111,
height: 53
),
"/images/backgrounds/blueprints/cart-assist-label-6@2x.png" : (
width: 222,
height: 106
),
"/images/backgrounds/blueprints/cart-assist-wishipedia.png" : (
width: 132,
height: 47
),
"/images/backgrounds/blueprints/cart-assist-wishipedia@2x.png" : (
width: 264,
height: 94
),
"/images/backgrounds/blueprints/close.png" : (
width: 42,
height: 47
),
"/images/backgrounds/blueprints/close@2x.png" : (
width: 84,
height: 94
),
"/images/backgrounds/blueprints/directions-click-arrow-bottom-left.png" : (
width: 64,
height: 39
),
"/images/backgrounds/blueprints/directions-click-arrow-bottom-left@2x.png" : (
width: 128,
height: 78
),
"/images/backgrounds/blueprints/directions-click-arrow-top-left.png" : (
width: 100,
height: 58
),
"/images/backgrounds/blueprints/directions-click-arrow-top-left@2x.png" : (
width: 200,
height: 116
),
"/images/backgrounds/blueprints/directions.jpg" : (
width: 1292,
height: 794
),
"/images/backgrounds/blueprints/directions@2x.jpg" : (
width: 2584,
height: 1588
),
"/images/backgrounds/blueprints/faqs-books.png" : (
width: 501,
height: 210
),
"/images/backgrounds/blueprints/faqs-books@2x.png" : (
width: 1002,
height: 420
),
"/images/backgrounds/blueprints/faqs-globe.png" : (
width: 301,
height: 382
),
"/images/backgrounds/blueprints/faqs-globe@2x.png" : (
width: 602,
height: 764
),
"/images/backgrounds/blueprints/faqs-magnifying-glass.png" : (
width: 234,
height: 388
),
"/images/backgrounds/blueprints/faqs-magnifying-glass@2x.png" : (
width: 468,
height: 776
),
"/images/backgrounds/blueprints/faqs-paper.png" : (
width: 1093,
height: 689
),
"/images/backgrounds/blueprints/faqs-paper@2x.png" : (
width: 2186,
height: 1378
),
"/images/backgrounds/blueprints/figure-box-arrow-bottom-left.png" : (
width: 79,
height: 57
),
"/images/backgrounds/blueprints/figure-box-arrow-bottom-left@2x.png" : (
width: 158,
height: 114
),
"/images/backgrounds/blueprints/gallery-90deg.png" : (
width: 102,
height: 88
),
"/images/backgrounds/blueprints/gallery-90deg@2x.png" : (
width: 204,
height: 176
),
"/images/backgrounds/blueprints/gallery-accordion.png" : (
width: 356,
height: 117
),
"/images/backgrounds/blueprints/gallery-accordion@2x.png" : (
width: 712,
height: 234
),
"/images/backgrounds/blueprints/gallery-click-to-enlarge.png" : (
width: 256,
height: 145
),
"/images/backgrounds/blueprints/gallery-click-to-enlarge@2x.png" : (
width: 512,
height: 290
),
"/images/backgrounds/blueprints/gallery-cog.png" : (
width: 160,
height: 160
),
"/images/backgrounds/blueprints/gallery-cog@2x.png" : (
width: 320,
height: 320
),
"/images/backgrounds/blueprints/gallery-expand.png" : (
width: 42,
height: 42
),
"/images/backgrounds/blueprints/gallery-expand@2x.png" : (
width: 84,
height: 84
),
"/images/backgrounds/blueprints/gallery-press-button.png" : (
width: 218,
height: 134
),
"/images/backgrounds/blueprints/gallery-press-button@2x.png" : (
width: 436,
height: 268
),
"/images/backgrounds/blueprints/gallery-ratchet.png" : (
width: 188,
height: 300
),
"/images/backgrounds/blueprints/gallery-ratchet@2x.png" : (
width: 376,
height: 600
),
"/images/backgrounds/blueprints/gallery-step-1.png" : (
width: 222,
height: 133
),
"/images/backgrounds/blueprints/gallery-step-1@2x.png" : (
width: 444,
height: 266
),
"/images/backgrounds/blueprints/gallery-step-2.png" : (
width: 243,
height: 151
),
"/images/backgrounds/blueprints/gallery-step-2@2x.png" : (
width: 486,
height: 302
),
"/images/backgrounds/blueprints/grid.png" : (
width: 1292,
height: 1021
),
"/images/backgrounds/blueprints/grid@2x.png" : (
width: 2584,
height: 2041
),
"/images/backgrounds/blueprints/history-2017.png" : (
width: 292,
height: 227
),
"/images/backgrounds/blueprints/history-2017@2x.png" : (
width: 584,
height: 454
),
"/images/backgrounds/blueprints/history-eeko.png" : (
width: 287,
height: 485
),
"/images/backgrounds/blueprints/history-eeko@2x.png" : (
width: 574,
height: 970
),
"/images/backgrounds/blueprints/history-family-small.png" : (
width: 375,
height: 280
),
"/images/backgrounds/blueprints/history-family-small@2x.png" : (
width: 750,
height: 560
),
"/images/backgrounds/blueprints/history-family.png" : (
width: 668,
height: 162
),
"/images/backgrounds/blueprints/history-family@2x.png" : (
width: 1336,
height: 324
),
"/images/backgrounds/blueprints/history-it-began.png" : (
width: 463,
height: 108
),
"/images/backgrounds/blueprints/history-it-began@2x.png" : (
width: 926,
height: 216
),
"/images/backgrounds/blueprints/history-sage.png" : (
width: 293,
height: 385
),
"/images/backgrounds/blueprints/history-sage@2x.png" : (
width: 586,
height: 770
),
"/images/backgrounds/blueprints/history-see-you-small.png" : (
width: 375,
height: 436
),
"/images/backgrounds/blueprints/history-see-you-small@2x.png" : (
width: 750,
height: 872
),
"/images/backgrounds/blueprints/history-see-you.png" : (
width: 675,
height: 469
),
"/images/backgrounds/blueprints/history-see-you@2x.png" : (
width: 1350,
height: 938
),
"/images/backgrounds/blueprints/history-shoes.png" : (
width: 296,
height: 206
),
"/images/backgrounds/blueprints/history-shoes@2x.png" : (
width: 592,
height: 412
),
"/images/backgrounds/blueprints/history-tools.png" : (
width: 200,
height: 154
),
"/images/backgrounds/blueprints/history-tools@2x.png" : (
width: 400,
height: 308
),
"/images/backgrounds/blueprints/horizontal-line.png" : (
width: 793,
height: 2
),
"/images/backgrounds/blueprints/horizontal-line@2x.png" : (
width: 1586,
height: 4
),
"/images/backgrounds/blueprints/hotel-partners-chaise.png" : (
width: 530,
height: 204
),
"/images/backgrounds/blueprints/hotel-partners-chaise@2x.png" : (
width: 1060,
height: 408
),
"/images/backgrounds/blueprints/hotel-partners-house-1.png" : (
width: 326,
height: 378
),
"/images/backgrounds/blueprints/hotel-partners-house-1@2x.png" : (
width: 652,
height: 756
),
"/images/backgrounds/blueprints/hotel-partners-house-2.png" : (
width: 322,
height: 402
),
"/images/backgrounds/blueprints/hotel-partners-house-2@2x.png" : (
width: 644,
height: 804
),
"/images/backgrounds/blueprints/hotel-partners-house-sketch.png" : (
width: 544,
height: 398
),
"/images/backgrounds/blueprints/hotel-partners-house-sketch@2x.png" : (
width: 1088,
height: 796
),
"/images/backgrounds/blueprints/hotel-partners-rocking-horse.png" : (
width: 231,
height: 231
),
"/images/backgrounds/blueprints/hotel-partners-rocking-horse@2x.png" : (
width: 462,
height: 462
),
"/images/backgrounds/blueprints/hotel-partners-wardrobe.png" : (
width: 473,
height: 341
),
"/images/backgrounds/blueprints/hotel-partners-wardrobe@2x.png" : (
width: 946,
height: 682
),
"/images/backgrounds/blueprints/join-us-cogs-1.png" : (
width: 340,
height: 497
),
"/images/backgrounds/blueprints/join-us-cogs-1@2x.png" : (
width: 680,
height: 994
),
"/images/backgrounds/blueprints/join-us-cogs-2.png" : (
width: 268,
height: 386
),
"/images/backgrounds/blueprints/join-us-cogs-2@2x.png" : (
width: 536,
height: 772
),
"/images/backgrounds/blueprints/join-us-cogs-3.png" : (
width: 208,
height: 155
),
"/images/backgrounds/blueprints/join-us-cogs-3@2x.png" : (
width: 416,
height: 310
),
"/images/backgrounds/blueprints/join-us-our-wish-small.png" : (
width: 634,
height: 403
),
"/images/backgrounds/blueprints/join-us-our-wish-small@2x.png" : (
width: 1268,
height: 806
),
"/images/backgrounds/blueprints/join-us-our-wish.png" : (
width: 801,
height: 602
),
"/images/backgrounds/blueprints/join-us-our-wish@2x.png" : (
width: 1602,
height: 1204
),
"/images/backgrounds/blueprints/join-us-quote-edge.png" : (
width: 67,
height: 76
),
"/images/backgrounds/blueprints/join-us-quote-edge@2x.png" : (
width: 133,
height: 152
),
"/images/backgrounds/blueprints/join-us-squiggle-1.png" : (
width: 216,
height: 18
),
"/images/backgrounds/blueprints/join-us-squiggle-1@2x.png" : (
width: 432,
height: 36
),
"/images/backgrounds/blueprints/join-us-squiggle-2.png" : (
width: 276,
height: 25
),
"/images/backgrounds/blueprints/join-us-squiggle-2@2x.png" : (
width: 552,
height: 50
),
"/images/backgrounds/blueprints/join-us-squiggle-3.png" : (
width: 194,
height: 16
),
"/images/backgrounds/blueprints/join-us-squiggle-3@2x.png" : (
width: 388,
height: 32
),
"/images/backgrounds/blueprints/login-cogs-1.png" : (
width: 267,
height: 431
),
"/images/backgrounds/blueprints/login-cogs-1@2x.png" : (
width: 534,
height: 862
),
"/images/backgrounds/blueprints/login-cogs-2.png" : (
width: 186,
height: 230
),
"/images/backgrounds/blueprints/login-cogs-2@2x.png" : (
width: 372,
height: 460
),
"/images/backgrounds/blueprints/login-cogs-3.png" : (
width: 230,
height: 362
),
"/images/backgrounds/blueprints/login-cogs-3@2x.png" : (
width: 460,
height: 724
),
"/images/backgrounds/blueprints/login-cogs-4.png" : (
width: 626,
height: 188
),
"/images/backgrounds/blueprints/login-cogs-4@2x.png" : (
width: 1251,
height: 375
),
"/images/backgrounds/blueprints/polaroid-carousel-fade.png" : (
width: 27,
height: 304
),
"/images/backgrounds/blueprints/polaroid-carousel-fade@2x.png" : (
width: 54,
height: 608
),
"/images/backgrounds/blueprints/polaroid-carousel-left.png" : (
width: 96,
height: 37
),
"/images/backgrounds/blueprints/polaroid-carousel-left@2x.png" : (
width: 192,
height: 74
),
"/images/backgrounds/blueprints/polaroid-carousel-right.png" : (
width: 104,
height: 43
),
"/images/backgrounds/blueprints/polaroid-carousel-right@2x.png" : (
width: 208,
height: 86
),
"/images/backgrounds/blueprints/premium-plus-bell-1.png" : (
width: 65,
height: 69
),
"/images/backgrounds/blueprints/premium-plus-bell-1@2x.png" : (
width: 130,
height: 138
),
"/images/backgrounds/blueprints/premium-plus-bell-2.png" : (
width: 65,
height: 64
),
"/images/backgrounds/blueprints/premium-plus-bell-2@2x.png" : (
width: 130,
height: 128
),
"/images/backgrounds/blueprints/premium-plus-bell-3.png" : (
width: 82,
height: 78
),
"/images/backgrounds/blueprints/premium-plus-bell-3@2x.png" : (
width: 164,
height: 156
),
"/images/backgrounds/blueprints/premium-plus-border-bottom.png" : (
width: 307,
height: 135
),
"/images/backgrounds/blueprints/premium-plus-border-bottom@2x.png" : (
width: 614,
height: 270
),
"/images/backgrounds/blueprints/premium-plus-border-top.png" : (
width: 485,
height: 235
),
"/images/backgrounds/blueprints/premium-plus-border-top@2x.png" : (
width: 970,
height: 470
),
"/images/backgrounds/blueprints/premium-plus-buy-tickets-here.png" : (
width: 197,
height: 105
),
"/images/backgrounds/blueprints/premium-plus-buy-tickets-here@2x.png" : (
width: 394,
height: 210
),
"/images/backgrounds/blueprints/premium-plus-star.png" : (
width: 45,
height: 44
),
"/images/backgrounds/blueprints/premium-plus-star@2x.png" : (
width: 90,
height: 88
),
"/images/backgrounds/blueprints/premium-plus-tour-details-mobile.png" : (
width: 375,
height: 737
),
"/images/backgrounds/blueprints/premium-plus-tour-details-mobile@2x.png" : (
width: 750,
height: 1474
),
"/images/backgrounds/blueprints/premium-plus-tour-details.png" : (
width: 678,
height: 1256
),
"/images/backgrounds/blueprints/premium-plus-tour-details@2x.png" : (
width: 1356,
height: 2512
),
"/images/backgrounds/blueprints/reviews-frame-1.png" : (
width: 377,
height: 316
),
"/images/backgrounds/blueprints/reviews-frame-1@2x.png" : (
width: 754,
height: 632
),
"/images/backgrounds/blueprints/reviews-frame-2.png" : (
width: 324,
height: 238
),
"/images/backgrounds/blueprints/reviews-frame-2@2x.png" : (
width: 648,
height: 476
),
"/images/backgrounds/blueprints/reviews-frame-3.png" : (
width: 358,
height: 278
),
"/images/backgrounds/blueprints/reviews-frame-3@2x.png" : (
width: 716,
height: 556
),
"/images/backgrounds/blueprints/reviews-frame-4.png" : (
width: 367,
height: 302
),
"/images/backgrounds/blueprints/reviews-frame-4@2x.png" : (
width: 734,
height: 604
),
"/images/backgrounds/blueprints/reviews-frame-5.png" : (
width: 322,
height: 235
),
"/images/backgrounds/blueprints/reviews-frame-5@2x.png" : (
width: 644,
height: 470
),
"/images/backgrounds/blueprints/reviews-leg.png" : (
width: 158,
height: 147
),
"/images/backgrounds/blueprints/reviews-leg@2x.png" : (
width: 316,
height: 294
),
"/images/backgrounds/blueprints/reviews-oil-well.png" : (
width: 263,
height: 379
),
"/images/backgrounds/blueprints/reviews-oil-well@2x.png" : (
width: 525,
height: 758
),
"/images/backgrounds/blueprints/reviews-pedalling-cyclist.png" : (
width: 229,
height: 399
),
"/images/backgrounds/blueprints/reviews-pedalling-cyclist@2x.png" : (
width: 458,
height: 798
),
"/images/backgrounds/blueprints/reviews-pen-lid.png" : (
width: 192,
height: 359
),
"/images/backgrounds/blueprints/reviews-pen-lid@2x.png" : (
width: 384,
height: 718
),
"/images/backgrounds/blueprints/reviews-pen.png" : (
width: 209,
height: 773
),
"/images/backgrounds/blueprints/reviews-pen@2x.png" : (
width: 418,
height: 1546
),
"/images/backgrounds/blueprints/reviews-penny-farthing-champion.png" : (
width: 477,
height: 363
),
"/images/backgrounds/blueprints/reviews-penny-farthing-champion@2x.png" : (
width: 954,
height: 726
),
"/images/backgrounds/blueprints/sign-off-box-icon-compass.png" : (
width: 114,
height: 114
),
"/images/backgrounds/blueprints/sign-off-box-icon-compass@2x.png" : (
width: 228,
height: 228
),
"/images/backgrounds/blueprints/sign-off-box-icon-conker.png" : (
width: 122,
height: 111
),
"/images/backgrounds/blueprints/sign-off-box-icon-conker@2x.png" : (
width: 244,
height: 222
),
"/images/backgrounds/blueprints/sign-off-box-icon-elf-travel-master.png" : (
width: 117,
height: 94
),
"/images/backgrounds/blueprints/sign-off-box-icon-elf-travel-master@2x.png" : (
width: 234,
height: 188
),
"/images/backgrounds/blueprints/sign-off-box-icon-gold-zauber.png" : (
width: 116,
height: 125
),
"/images/backgrounds/blueprints/sign-off-box-icon-gold-zauber@2x.png" : (
width: 232,
height: 250
),
"/images/backgrounds/blueprints/sign-off-box-icon-wish.png" : (
width: 116,
height: 102
),
"/images/backgrounds/blueprints/sign-off-box-icon-wish@2x.png" : (
width: 232,
height: 204
),
"/images/backgrounds/blueprints/sign-off-box-icon-zauber.png" : (
width: 114,
height: 106
),
"/images/backgrounds/blueprints/sign-off-box-icon-zauber@2x.png" : (
width: 228,
height: 212
),
"/images/backgrounds/blueprints/sign-off-box.png" : (
width: 628,
height: 150
),
"/images/backgrounds/blueprints/sign-off-box@2x.png" : (
width: 1256,
height: 300
),
"/images/backgrounds/blueprints/signed-off-arrow.png" : (
width: 79,
height: 19
),
"/images/backgrounds/blueprints/signed-off-arrow@2x.png" : (
width: 158,
height: 38
),
"/images/backgrounds/blueprints/superstar-days-bear.png" : (
width: 511,
height: 499
),
"/images/backgrounds/blueprints/superstar-days-bear@2x.png" : (
width: 1022,
height: 998
),
"/images/backgrounds/blueprints/superstar-days-sagittarius.png" : (
width: 358,
height: 212
),
"/images/backgrounds/blueprints/superstar-days-sagittarius@2x.png" : (
width: 716,
height: 424
),
"/images/backgrounds/blueprints/vertical-line.png" : (
width: 2,
height: 793
),
"/images/backgrounds/blueprints/vertical-line@2x.png" : (
width: 4,
height: 1586
),
"/images/backgrounds/blueprints/what-is-lapland-bell.png" : (
width: 439,
height: 364
),
"/images/backgrounds/blueprints/what-is-lapland-bell@2x.png" : (
width: 878,
height: 728
),
"/images/backgrounds/blueprints/what-is-lapland-elf-travel-master.png" : (
width: 918,
height: 332
),
"/images/backgrounds/blueprints/what-is-lapland-elf-travel-master@2x.png" : (
width: 1836,
height: 664
),
"/images/backgrounds/blueprints/what-is-lapland-elf.png" : (
width: 261,
height: 470
),
"/images/backgrounds/blueprints/what-is-lapland-elf@2x.png" : (
width: 522,
height: 940
),
"/images/backgrounds/blueprints/what-is-lapland-pinecone.png" : (
width: 231,
height: 281
),
"/images/backgrounds/blueprints/what-is-lapland-pinecone@2x.png" : (
width: 462,
height: 561
),
"/images/backgrounds/blueprints/zauber-illustration.png" : (
width: 262,
height: 500
),
"/images/backgrounds/blueprints/zauber-illustration@2x.png" : (
width: 524,
height: 1000
),
"/images/backgrounds/borders/alert-danger.png" : (
width: 705,
height: 86
),
"/images/backgrounds/borders/alert-danger@2x.png" : (
width: 1409,
height: 172
),
"/images/backgrounds/borders/alert-texture-left.png" : (
width: 169,
height: 85
),
"/images/backgrounds/borders/alert-texture-left@2x.png" : (
width: 339,
height: 169
),
"/images/backgrounds/borders/alert-texture-right.png" : (
width: 169,
height: 85
),
"/images/backgrounds/borders/alert-texture-right@2x.png" : (
width: 339,
height: 169
),
"/images/backgrounds/borders/alert-warning.png" : (
width: 705,
height: 86
),
"/images/backgrounds/borders/alert-warning@2x.png" : (
width: 1409,
height: 172
),
"/images/backgrounds/buttons/button-background-inverse.png" : (
width: 518,
height: 60
),
"/images/backgrounds/buttons/button-background-inverse@2x.png" : (
width: 1036,
height: 120
),
"/images/backgrounds/buttons/button-background.png" : (
width: 518,
height: 60
),
"/images/backgrounds/buttons/button-background@2x.png" : (
width: 1036,
height: 120
),
"/images/backgrounds/buttons/button-gold-background.png" : (
width: 184,
height: 55
),
"/images/backgrounds/buttons/button-gold-background@2x.png" : (
width: 368,
height: 110
),
"/images/backgrounds/cart-assist/floating-widget-background-content.png" : (
width: 421,
height: 163
),
"/images/backgrounds/cart-assist/floating-widget-background-content@2x.png" : (
width: 842,
height: 326
),
"/images/backgrounds/cart-assist/floating-widget-background-head.png" : (
width: 421,
height: 66
),
"/images/backgrounds/cart-assist/floating-widget-background-head@2x.png" : (
width: 842,
height: 132
),
"/images/backgrounds/cart-assist/floating-widget-mobile-background.png" : (
width: 375,
height: 561
),
"/images/backgrounds/cart-assist/floating-widget-mobile-background@2x.png" : (
width: 750,
height: 1122
),
"/images/backgrounds/cart-assist/wishipedia-title.png" : (
width: 137,
height: 47
),
"/images/backgrounds/cart-assist/wishipedia-title@2x.png" : (
width: 274,
height: 94
),
"/images/backgrounds/elf-times/logo.png" : (
width: 821,
height: 197
),
"/images/backgrounds/elf-times/logo@2x.png" : (
width: 1642,
height: 394
),
"/images/backgrounds/elf-times/paper.jpg" : (
width: 1286,
height: 740
),
"/images/backgrounds/elf-times/paper@2x.jpg" : (
width: 2572,
height: 1480
),
"/images/backgrounds/homepage/aura-desktop.png" : (
width: 547,
height: 367
),
"/images/backgrounds/homepage/aura-desktop@2x.png" : (
width: 1094,
height: 734
),
"/images/backgrounds/homepage/aura-mobile.png" : (
width: 375,
height: 344
),
"/images/backgrounds/homepage/aura-mobile@2x.png" : (
width: 750,
height: 688
),
"/images/backgrounds/homepage/background-desktop.png" : (
width: 2410,
height: 768
),
"/images/backgrounds/homepage/background-desktop@2x.png" : (
width: 4820,
height: 1536
),
"/images/backgrounds/homepage/background-mobile.png" : (
width: 375,
height: 671
),
"/images/backgrounds/homepage/background-mobile@2x.png" : (
width: 750,
height: 1342
),
"/images/backgrounds/homepage/snowflake.png" : (
width: 10,
height: 10
),
"/images/backgrounds/icons/danger.png" : (
width: 64,
height: 64
),
"/images/backgrounds/icons/danger@2x.png" : (
width: 128,
height: 128
),
"/images/backgrounds/icons/warning.png" : (
width: 64,
height: 64
),
"/images/backgrounds/icons/warning@2x.png" : (
width: 128,
height: 128
),
"/images/backgrounds/misc/additional-tickets-box.png" : (
width: 694,
height: 83
),
"/images/backgrounds/misc/additional-tickets-box@2x.png" : (
width: 1405,
height: 168
),
"/images/backgrounds/misc/adult-details-box.png" : (
width: 519,
height: 279
),
"/images/backgrounds/misc/adult-details-box@2x.png" : (
width: 1038,
height: 558
),
"/images/backgrounds/misc/arrowdown.png" : (
width: 12,
height: 19
),
"/images/backgrounds/misc/arrowdown@2x.png" : (
width: 25,
height: 40
),
"/images/backgrounds/misc/backarrow.png" : (
width: 26,
height: 17
),
"/images/backgrounds/misc/backarrow@2x.png" : (
width: 51,
height: 33
),
"/images/backgrounds/misc/bear-top-right.png" : (
width: 314,
height: 311
),
"/images/backgrounds/misc/bear-top-right@2x.png" : (
width: 627,
height: 622
),
"/images/backgrounds/misc/bottombear.png" : (
width: 403,
height: 465
),
"/images/backgrounds/misc/bottombear@2x.png" : (
width: 806,
height: 930
),
"/images/backgrounds/misc/calendar.png" : (
width: 18,
height: 18
),
"/images/backgrounds/misc/calendar@2x.png" : (
width: 36,
height: 36
),
"/images/backgrounds/misc/cards.png" : (
width: 225,
height: 94
),
"/images/backgrounds/misc/cards@2x.png" : (
width: 449,
height: 187
),
"/images/backgrounds/misc/checkbox.png" : (
width: 23,
height: 18
),
"/images/backgrounds/misc/checkbox@2x.png" : (
width: 46,
height: 36
),
"/images/backgrounds/misc/chevron-down.png" : (
width: 12,
height: 8
),
"/images/backgrounds/misc/chevron-down@2x.png" : (
width: 24,
height: 16
),
"/images/backgrounds/misc/child-details-box.png" : (
width: 426,
height: 179
),
"/images/backgrounds/misc/child-details-box@2x.png" : (
width: 851,
height: 358
),
"/images/backgrounds/misc/completecircle.png" : (
width: 326,
height: 222
),
"/images/backgrounds/misc/completecircle@2x.png" : (
width: 652,
height: 443
),
"/images/backgrounds/misc/conker-404.png" : (
width: 175,
height: 277
),
"/images/backgrounds/misc/conker-404@2x.png" : (
width: 350,
height: 553
),
"/images/backgrounds/misc/conker-500.png" : (
width: 323,
height: 140
),
"/images/backgrounds/misc/conker-500@2x.png" : (
width: 645,
height: 279
),
"/images/backgrounds/misc/conker.png" : (
width: 198,
height: 268
),
"/images/backgrounds/misc/conker@2x.png" : (
width: 395,
height: 535
),
"/images/backgrounds/misc/creditcard.png" : (
width: 24,
height: 16
),
"/images/backgrounds/misc/creditcard@2x.png" : (
width: 48,
height: 32
),
"/images/backgrounds/misc/cross.png" : (
width: 16,
height: 16
),
"/images/backgrounds/misc/cross@2x.png" : (
width: 33,
height: 33
),
"/images/backgrounds/misc/down-arrow.png" : (
width: 12,
height: 6
),
"/images/backgrounds/misc/down-arrow@2x.png" : (
width: 23,
height: 11
),
"/images/backgrounds/misc/eeko.png" : (
width: 519,
height: 427
),
"/images/backgrounds/misc/eeko@2x.png" : (
width: 1037,
height: 853
),
"/images/backgrounds/misc/eekofull.png" : (
width: 315,
height: 335
),
"/images/backgrounds/misc/eekofull@2x.png" : (
width: 630,
height: 670
),
"/images/backgrounds/misc/explore.png" : (
width: 566,
height: 336
),
"/images/backgrounds/misc/explore@2x.png" : (
width: 1132,
height: 672
),
"/images/backgrounds/misc/extra-timer-bg-new.png" : (
width: 771,
height: 340
),
"/images/backgrounds/misc/extra-timer-bg-new@2x.png" : (
width: 1542,
height: 679
),
"/images/backgrounds/misc/extra-timer-left-corner.png" : (
width: 315,
height: 183
),
"/images/backgrounds/misc/extra-timer-left-corner@2x.png" : (
width: 629,
height: 366
),
"/images/backgrounds/misc/extra-timer-right-corner.png" : (
width: 315,
height: 183
),
"/images/backgrounds/misc/extra-timer-right-corner@2x.png" : (
width: 629,
height: 366
),
"/images/backgrounds/misc/extraplaceholder.png" : (
width: 335,
height: 309
),
"/images/backgrounds/misc/extraplaceholder@2x.png" : (
width: 669,
height: 618
),
"/images/backgrounds/misc/headertoplabel.png" : (
width: 307,
height: 76
),
"/images/backgrounds/misc/headertoplabel@2x.png" : (
width: 614,
height: 151
),
"/images/backgrounds/misc/hoverbg.png" : (
width: 655,
height: 413
),
"/images/backgrounds/misc/hoverbg@2x.png" : (
width: 655,
height: 413
),
"/images/backgrounds/misc/largehourglass.png" : (
width: 50,
height: 73
),
"/images/backgrounds/misc/largehourglass@2x.png" : (
width: 100,
height: 145
),
"/images/backgrounds/misc/left-horse.png" : (
width: 369,
height: 302
),
"/images/backgrounds/misc/left-horse@2x.png" : (
width: 738,
height: 604
),
"/images/backgrounds/misc/leftbear.png" : (
width: 159,
height: 230
),
"/images/backgrounds/misc/leftbear@2x.png" : (
width: 318,
height: 460
),
"/images/backgrounds/misc/longhoverbg.png" : (
width: 338,
height: 778
),
"/images/backgrounds/misc/longhoverbg@2x.png" : (
width: 676,
height: 1556
),
"/images/backgrounds/misc/mastercard-secure-code.png" : (
width: 217,
height: 82
),
"/images/backgrounds/misc/mastercard-secure-code@2x.png" : (
width: 433,
height: 163
),
"/images/backgrounds/misc/mmb-banner.png" : (
width: 1073,
height: 54
),
"/images/backgrounds/misc/mmb-banner@2x.png" : (
width: 2145,
height: 108
),
"/images/backgrounds/misc/mobile-additional-tickets-box.png" : (
width: 329,
height: 158
),
"/images/backgrounds/misc/mobile-additional-tickets-box@2x.png" : (
width: 657,
height: 316
),
"/images/backgrounds/misc/mobile-explore.png" : (
width: 304,
height: 252
),
"/images/backgrounds/misc/mobile-explore@2x.png" : (
width: 607,
height: 503
),
"/images/backgrounds/misc/mobile-mmb-banner.png" : (
width: 1073,
height: 54
),
"/images/backgrounds/misc/mobile-mmb-banner@2x.png" : (
width: 2145,
height: 108
),
"/images/backgrounds/misc/mobile-mmb-menu-bg.png" : (
width: 325,
height: 351
),
"/images/backgrounds/misc/mobile-mmb-menu-bg@2x.png" : (
width: 649,
height: 700
),
"/images/backgrounds/misc/mobilehourglass.png" : (
width: 35,
height: 50
),
"/images/backgrounds/misc/mobilehourglass@2x.png" : (
width: 69,
height: 99
),
"/images/backgrounds/misc/mobiletimerbox.png" : (
width: 315,
height: 116
),
"/images/backgrounds/misc/mobiletimerbox@2x.png" : (
width: 630,
height: 231
),
"/images/backgrounds/misc/promocode.png" : (
width: 24,
height: 19
),
"/images/backgrounds/misc/promocode@2x.png" : (
width: 47,
height: 38
),
"/images/backgrounds/misc/removeextra.png" : (
width: 15,
height: 15
),
"/images/backgrounds/misc/removeextra@2x.png" : (
width: 30,
height: 30
),
"/images/backgrounds/misc/removeextrainverse.png" : (
width: 15,
height: 15
),
"/images/backgrounds/misc/removeextrainverse@2x.png" : (
width: 30,
height: 30
),
"/images/backgrounds/misc/right-horse.png" : (
width: 247,
height: 368
),
"/images/backgrounds/misc/right-horse@2x.png" : (
width: 494,
height: 736
),
"/images/backgrounds/misc/rightbear.png" : (
width: 313,
height: 311
),
"/images/backgrounds/misc/rightbear@2x.png" : (
width: 627,
height: 622
),
"/images/backgrounds/misc/steps1.png" : (
width: 557,
height: 128
),
"/images/backgrounds/misc/steps1@2x.png" : (
width: 1154,
height: 266
),
"/images/backgrounds/misc/steps2.png" : (
width: 535,
height: 133
),
"/images/backgrounds/misc/steps2@2x.png" : (
width: 1070,
height: 266
),
"/images/backgrounds/misc/steps3.png" : (
width: 535,
height: 133
),
"/images/backgrounds/misc/steps3@2x.png" : (
width: 1070,
height: 266
),
"/images/backgrounds/misc/steps4.png" : (
width: 536,
height: 133
),
"/images/backgrounds/misc/steps4@2x.png" : (
width: 1072,
height: 266
),
"/images/backgrounds/misc/timerbox.png" : (
width: 702,
height: 112
),
"/images/backgrounds/misc/timerbox@2x.png" : (
width: 1405,
height: 224
),
"/images/backgrounds/misc/underline.png" : (
width: 323,
height: 10
),
"/images/backgrounds/misc/underline@2x.png" : (
width: 323,
height: 10
),
"/images/backgrounds/misc/verified-by-visa.png" : (
width: 217,
height: 94
),
"/images/backgrounds/misc/verified-by-visa@2x.png" : (
width: 433,
height: 188
),
"/images/backgrounds/misc/verifiedbyvisa.png" : (
width: 217,
height: 205
),
"/images/backgrounds/misc/verifiedbyvisa@2x.png" : (
width: 433,
height: 409
),
"/images/backgrounds/nav/blueprints-shadow.png" : (
width: 754,
height: 104
),
"/images/backgrounds/nav/blueprints-shadow@2x.png" : (
width: 1508,
height: 208
),
"/images/backgrounds/nav/book-small.png" : (
width: 158,
height: 58
),
"/images/backgrounds/nav/book-small@2x.png" : (
width: 316,
height: 115
),
"/images/backgrounds/nav/book.png" : (
width: 231,
height: 84
),
"/images/backgrounds/nav/book@2x.png" : (
width: 462,
height: 168
),
"/images/backgrounds/nav/burger-menu-line.png" : (
width: 235,
height: 2
),
"/images/backgrounds/nav/burger-menu-line@2x.png" : (
width: 470,
height: 4
),
"/images/backgrounds/nav/burger.png" : (
width: 37,
height: 22
),
"/images/backgrounds/nav/burger@2x.png" : (
width: 74,
height: 43
),
"/images/backgrounds/nav/lapland-small.png" : (
width: 150,
height: 114
),
"/images/backgrounds/nav/lapland-small@2x.png" : (
width: 300,
height: 228
),
"/images/backgrounds/nav/lapland.png" : (
width: 292,
height: 222
),
"/images/backgrounds/nav/lapland@2x.png" : (
width: 584,
height: 444
),
"/images/backgrounds/nav/logs.png" : (
width: 186,
height: 106
),
"/images/backgrounds/nav/logs@2x.png" : (
width: 372,
height: 212
),
"/images/backgrounds/nav/scroll-paper.png" : (
width: 196,
height: 485
),
"/images/backgrounds/nav/scroll-paper@2x.png" : (
width: 392,
height: 970
),
"/images/backgrounds/nav/scroll-top.png" : (
width: 241,
height: 87
),
"/images/backgrounds/nav/scroll-top@2x.png" : (
width: 482,
height: 174
),
"/images/backgrounds/nav/scroll-underline.png" : (
width: 78,
height: 5
),
"/images/backgrounds/nav/scroll-underline@2x.png" : (
width: 156,
height: 10
),
"/images/backgrounds/nav/shelf-large.png" : (
width: 1199,
height: 167
),
"/images/backgrounds/nav/shelf-large@2x.png" : (
width: 2398,
height: 334
),
"/images/backgrounds/nav/shelf-medium.png" : (
width: 1023,
height: 177
),
"/images/backgrounds/nav/shelf-medium@2x.png" : (
width: 2046,
height: 354
),
"/images/backgrounds/nav/shelf-small.png" : (
width: 639,
height: 110
),
"/images/backgrounds/nav/shelf-small@2x.png" : (
width: 1278,
height: 219
),
"/images/backgrounds/nav/shelf-xlarge.png" : (
width: 1515,
height: 193
),
"/images/backgrounds/nav/shelf-xlarge@2x.png" : (
width: 3030,
height: 386
),
"/images/backgrounds/nav/shelf-xsmall.png" : (
width: 375,
height: 105
),
"/images/backgrounds/nav/shelf-xsmall@2x.png" : (
width: 750,
height: 210
),
"/images/backgrounds/titles/404.png" : (
width: 507,
height: 91
),
"/images/backgrounds/titles/404@2x.png" : (
width: 1013,
height: 182
),
"/images/backgrounds/titles/500.png" : (
width: 460,
height: 89
),
"/images/backgrounds/titles/500@2x.png" : (
width: 919,
height: 178
),
"/images/backgrounds/titles/add-people.png" : (
width: 497,
height: 112
),
"/images/backgrounds/titles/add-people@2x.png" : (
width: 993,
height: 224
),
"/images/backgrounds/titles/adult-details.png" : (
width: 441,
height: 121
),
"/images/backgrounds/titles/adult-details@2x.png" : (
width: 881,
height: 242
),
"/images/backgrounds/titles/booktickets.png" : (
width: 450,
height: 106
),
"/images/backgrounds/titles/booktickets@2x.png" : (
width: 899,
height: 212
),
"/images/backgrounds/titles/change-your-date.png" : (
width: 702,
height: 78
),
"/images/backgrounds/titles/change-your-date@2x.png" : (
width: 1403,
height: 156
),
"/images/backgrounds/titles/childs-details.png" : (
width: 646,
height: 104
),
"/images/backgrounds/titles/childs-details@2x.png" : (
width: 1291,
height: 208
),
"/images/backgrounds/titles/coming-soon.png" : (
width: 538,
height: 114
),
"/images/backgrounds/titles/coming-soon@2x.png" : (
width: 1075,
height: 227
),
"/images/backgrounds/titles/cookies.png" : (
width: 391,
height: 93
),
"/images/backgrounds/titles/cookies@2x.png" : (
width: 782,
height: 186
),
"/images/backgrounds/titles/directions.png" : (
width: 626,
height: 139
),
"/images/backgrounds/titles/directions@2x.png" : (
width: 1252,
height: 278
),
"/images/backgrounds/titles/faqs.png" : (
width: 435,
height: 152
),
"/images/backgrounds/titles/faqs@2x.png" : (
width: 870,
height: 304
),
"/images/backgrounds/titles/gallery.png" : (
width: 502,
height: 143
),
"/images/backgrounds/titles/gallery@2x.png" : (
width: 1004,
height: 286
),
"/images/backgrounds/titles/history.png" : (
width: 592,
height: 188
),
"/images/backgrounds/titles/history@2x.png" : (
width: 1184,
height: 376
),
"/images/backgrounds/titles/hotel-partners-small.png" : (
width: 363,
height: 194
),
"/images/backgrounds/titles/hotel-partners-small@2x.png" : (
width: 726,
height: 388
),
"/images/backgrounds/titles/hotel-partners.png" : (
width: 681,
height: 139
),
"/images/backgrounds/titles/hotel-partners@2x.png" : (
width: 1362,
height: 278
),
"/images/backgrounds/titles/join-us.png" : (
width: 622,
height: 146
),
"/images/backgrounds/titles/join-us@2x.png" : (
width: 1244,
height: 292
),
"/images/backgrounds/titles/login.png" : (
width: 460,
height: 78
),
"/images/backgrounds/titles/login@2x.png" : (
width: 920,
height: 156
),
"/images/backgrounds/titles/magical-extras.png" : (
width: 539,
height: 107
),
"/images/backgrounds/titles/magical-extras@2x.png" : (
width: 1078,
height: 213
),
"/images/backgrounds/titles/my-account.png" : (
width: 626,
height: 78
),
"/images/backgrounds/titles/my-account@2x.png" : (
width: 1253,
height: 155
),
"/images/backgrounds/titles/oops.png" : (
width: 328,
height: 89
),
"/images/backgrounds/titles/oops@2x.png" : (
width: 655,
height: 177
),
"/images/backgrounds/titles/our-famous-friends-small.png" : (
width: 345,
height: 172
),
"/images/backgrounds/titles/our-famous-friends-small@2x.png" : (
width: 690,
height: 344
),
"/images/backgrounds/titles/our-famous-friends.png" : (
width: 555,
height: 167
),
"/images/backgrounds/titles/our-famous-friends@2x.png" : (
width: 1110,
height: 334
),
"/images/backgrounds/titles/premium-plus-tours-mobile.png" : (
width: 375,
height: 210
),
"/images/backgrounds/titles/premium-plus-tours-mobile@2x.png" : (
width: 750,
height: 420
),
"/images/backgrounds/titles/premium-plus-tours.png" : (
width: 935,
height: 247
),
"/images/backgrounds/titles/premium-plus-tours@2x.png" : (
width: 1870,
height: 494
),
"/images/backgrounds/titles/privacy-policy.png" : (
width: 521,
height: 97
),
"/images/backgrounds/titles/privacy-policy@2x.png" : (
width: 1042,
height: 194
),
"/images/backgrounds/titles/reviews.png" : (
width: 753,
height: 108
),
"/images/backgrounds/titles/reviews@2x.png" : (
width: 1506,
height: 216
),
"/images/backgrounds/titles/superstar-days-small.png" : (
width: 372,
height: 410
),
"/images/backgrounds/titles/superstar-days-small@2x.png" : (
width: 744,
height: 820
),
"/images/backgrounds/titles/superstar-days.png" : (
width: 669,
height: 198
),
"/images/backgrounds/titles/superstar-days@2x.png" : (
width: 1338,
height: 396
),
"/images/backgrounds/titles/terms-and-conditions.png" : (
width: 388,
height: 93
),
"/images/backgrounds/titles/terms-and-conditions@2x.png" : (
width: 776,
height: 186
),
"/images/backgrounds/titles/what-is-lapland-uk.png" : (
width: 515,
height: 202
),
"/images/backgrounds/titles/what-is-lapland-uk@2x.png" : (
width: 1030,
height: 404
),
"/images/backgrounds/titles/your-address.png" : (
width: 445,
height: 116
),
"/images/backgrounds/titles/your-address@2x.png" : (
width: 890,
height: 232
),
"/images/backgrounds/titles/your-party.png" : (
width: 437,
height: 116
),
"/images/backgrounds/titles/your-party@2x.png" : (
width: 874,
height: 232
),
"/images/backgrounds/titles/your-time.png" : (
width: 382,
height: 103
),
"/images/backgrounds/titles/your-time@2x.png" : (
width: 864,
height: 232
),
"/images/backgrounds/videos/visitors-guide-video-background.png" : (
width: 330,
height: 222
),
"/images/backgrounds/videos/visitors-guide-video-background@2x.png" : (
width: 660,
height: 444
),
"/images/backgrounds/videos/what-is-lapland-video-invitation-background.png" : (
width: 1024,
height: 604
),
"/images/backgrounds/videos/what-is-lapland-video-invitation-background@2x.png" : (
width: 2048,
height: 1208
),
"/images/backgrounds/videos/what-is-lapland-video-sneak-peak-background.png" : (
width: 1040,
height: 617
),
"/images/backgrounds/videos/what-is-lapland-video-sneak-peak-background@2x.png" : (
width: 2080,
height: 1234
),
"/images/backgrounds/wood/directions.jpg" : (
width: 1403,
height: 605
),
"/images/backgrounds/wood/directions@2x.jpg" : (
width: 2805,
height: 1210
)
);
