$svgData: (
button-arrow: (
view-box: (0, 0, 30, 20),
bounding-box: (1.5160021781921387, 1.3741066455841064, 26.967409133911133, 17.251630783081055),
artwork-centre: (14.999706745147705, 9.999922037124634)
),
cookie-close: (
view-box: (0, 0, 54, 54),
bounding-box: (1, 1, 52, 52),
artwork-centre: (27, 27)
),
faqs-arrow: (
view-box: (0, 0, 30, 20),
bounding-box: (1.0698987245559692, 1.7355393171310425, 27.86009979248047, 16.52819061279297),
artwork-centre: (14.999948620796204, 9.999634623527527)
),
pine-cone: (
view-box: (0, 0, 30, 30),
bounding-box: (1.383000373840332, 1.8520015478134155, 26.707996368408203, 28.206998825073242),
artwork-centre: (14.736998558044434, 15.955500960350037)
),
social-facebook: (
view-box: (0, 0, 10, 18),
bounding-box: (1.184000015258789, 1.2737467288970947, 7.631999969482422, 15.450252532958984),
artwork-centre: (5, 8.998872995376587)
),
social-instagram: (
view-box: (0, 0, 18, 18),
bounding-box: (1.3689979314804077, 1.2759995460510254, 15.261999130249023, 15.447999954223633),
artwork-centre: (8.99999749660492, 8.999999523162842)
),
social-twitter: (
view-box: (0, 0, 22, 18),
bounding-box: (1.4610004425048828, 1.2729073762893677, 19.078001022338867, 15.453664779663086),
artwork-centre: (11.000000953674316, 8.99973976612091)
),
social-youtube: (
view-box: (0, 0, 24, 18),
bounding-box: (1.3710012435913086, 1.277000069618225, 21.257999420166016, 15.446998596191406),
artwork-centre: (12.000000953674316, 9.000499367713928)
)
);