$font-weights: (
    thin: $font-weight-thin,
    ultra-light: $font-weight-ultra-light,
    light: $font-weight-light,
    regular: $font-weight-regular,
    medium: $font-weight-medium,
    semi-bold: $font-weight-semi-bold,
    bold: $font-weight-bold,
    ultra-bold: $font-weight-ultra-bold,
    black: $font-weight-black
);

@each $name, $weight in $font-weights {
    .font-weight-#{$name} {
        font-weight: $weight !important;
    }
}

.font-style-normal {
    font-style: normal !important;
}

.font-style-italic {
    font-style: italic !important;
}

.font-variant-numeric-normal {
    font-variant-numeric: normal !important;
    font-feature-settings: normal !important;
}

.font-variant-numeric-ordinal {
    font-variant-numeric: ordinal !important;
    font-feature-settings: "ordn" !important;
}

.font-variant-numeric-lining {
    font-variant-numeric: lining-nums !important;
    font-feature-settings: "lnum" !important;
}

.font-variant-numeric-old-style {
    font-variant-numeric: oldstyle-nums !important;
    font-feature-settings: "onum" !important;
}

.font-variant-numeric-proportional {
    font-variant-numeric: proportional-nums !important;
    font-feature-settings: "pnum" !important;
}

.font-variant-numeric-tabular {
    font-variant-numeric: tabular-nums !important;
    font-feature-settings: "tnum" !important;
}
