.clearfix {
    @include clearfix;
}

.position-relative {
    position: relative !important;
}

.text-transform-none {
    text-transform: none !important;
}

.no-scroll {
    overflow: hidden !important;
}

.fit {
    width: 100% !important;
    height: 100% !important;
}

.fit-width {
    width: 100% !important;
}

.fit-height {
    height: 100% !important;
}
